body {
    font-family: arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre, code, kbd, samp {
    font-family: Consolas, monospace, monospace;
}
