.tetori {
    position: relative;
    width: 100%;
    height: calc(100vw * 9 / 16);
    background-color: black;
}

.pane-editor, .pane {
    width: 100%;
    height: 100%;
}

.palette {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 1em;
    display: none;
}

.edit .palette {
    display: initial;
    background-color: rgba(255, 255, 255, 0.5);
}

.edit .palette:hover {
    display: initial;
    background-color: rgba(255, 255, 255, 0.9);
}

.palette > ul {
    list-style: square inside;
    cursor: pointer;
}

.box {
    visibility: visible;
    resize: none;
}

.edit .box {
    resize: both;
}

.draggable-wrapper {
    position: absolute;

    visibility: hidden;

    border: 1px dashed gray;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: max-content;
}

.edit .draggable-wrapper {
    visibility: visible;
}

.note-navigation {
    visibility: hidden;
    margin-bottom: 2px;
    display: flex;
    height: 2ex;
}

.edit .note-navigation {
    visibility: visible;
}

.close-button {
    background-color: #d02d11;
    border: none;
    width: 2ex;
    height: 2ex;
}

.drag-handle {
    flex: 1;
    background-color: gray;
}

.edit .drag-handle {
    cursor: move;
}

.dialog {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 2em 1em;
    overflow: auto;
    z-index: 9999;
    max-height: 100%;
}

.dialog > * {
    white-space: pre-wrap;
}

.dialog .next-dialog {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7em;

    box-sizing: content-box;
    min-height: 5.1em; /* 3lh *//* content-boxにして、不必要に小さくなってしまうのを防ぐ */

    overflow-y: auto;

    border: 3px solid #ff5c92;
    background-color: rgba(255, 251, 250, 0.95);
    color: darkslategray;
    border-radius: 1ex;

    padding: 0.2em 0.5em;
}

.dialog .next-dialog::after {
    content: "▼";

    font-size: 0.75em;

    color: hotpink;
    text-shadow: 1px 0 1px white;

    margin-left: 1ex;
}

.dialog .previous-dialog {
    font-size: 0.9rem;
    line-height: 1.2em;

    box-sizing: content-box;
    height: 6em;

    border: 1px solid gray;
    background-color: hsla(180, 23%, 97%, 0.9);

    overflow-y: scroll;
}